<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mi e-commerce</title>
</head>
<body>
    <h1>{{name}}{{/name}}</h1>
    <h2>{{last_name}}{{/last_name}}</h2>
</body>
</html>